.container {
	display: grid;
	grid-template-columns: 7fr 3fr;
}

.myId {
	margin-right: 5rem;
	border-radius: 5px;
	background: #c9d6ff; /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #e2e2e2, #c9d6ff); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		#e2e2e2,
		#c9d6ff
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	padding: 2rem;
	display: grid;
	justify-content: center;
	align-content: center;
}

.call-button {
	text-align: center;
	margin-top: 2rem;
}

.video-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-content: center;
	align-content: center;
	margin-top: 10rem;
	margin-left: 10rem;
}

.caller {
	text-align: center;
	color: #fff;
}

body {

	
		background-image: url(./assets/headbg1.jpg);
		height: 100%;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;

	/* background: #4776e6; */ /* fallback for old browsers */
	/* background: -webkit-linear-gradient(to right, #8e54e9, #4776e6); */ /* Chrome 10-25, Safari 5.1-6 */
	/* background: linear-gradient(
		to right,
		#8e54e9,
		#4776e6
	);*/ /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* Chat styling */

.card {
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin: 30px;
	min-height: 30rem;
}

form {
	max-width: 350px;
	border-radius: 5px;
	padding: 2rem;
	box-shadow: 0px 3px 24px -8px rgba(0, 0, 0, 0.75);
}
  
.name-field {
	margin-bottom: 40px;
}


button {
	margin-top: 20px;
	padding: 10px;
	background: white;
	border-radius: 5px;
}

.render-chat {
	max-width: 450px;
	border-radius: 5px;
	padding: 20px;
	box-shadow: 0px 3px 24px -8px rgba(0, 0, 0, 0.75);
}
  
h3 {
	color: white;
	/* color: #2f72da; */
}

span {
	color: black;
  }
